[submodule "xwing"]
	path = xwing
	url = https://github.com/SogeMoge/xwing.git
	branch = xwing-legacy
[submodule "xwing-data2"]
	path = xwing-data2
	url = https://github.com/SogeMoge/xwing-data2.git
	branch = feature/legacy
